body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
    clear: both;
    height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#controller {
    overflow: hidden;
}
#controller > *{
    float: left;
    margin: 10px;
}

.tweet_count {
    color: red;
}

#stop_button.have_query {
    background-color: red;
    color: white;
}

.tweet_date {
    margin-right: 1em;
    color: steelblue;
}